*{
    margin: 0;
    padding: 0;
}
.container{
    height: 150vh;
    padding-top: 5rem;
    padding-left: 20rem;
}
.left {
    padding: 10px;
    margin: 10px;
     gap: 20px;
}
.left input{
    width: 400;
  padding: 5px;
  margin: 5px;
  color: black;
  font-weight:bold ;
}
.left button{
    color: black;
    font-weight:bold;
    gap: 20px;
    padding: 5px;
    margin: 5px;
}
.right table {

}




